<!DOCTYPE html>
<html lang="ja">
  <head>
      <title>{{ title }}</title>
  </head>
  <body>
  {% block content %}
      <div class="container">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <canvas id="ChartDemo" width="600" height="200"></canvas>
          <script>
            var persons={{result|tojson}};
            var ctx = document.getElementById("ChartDemo").getContext('2d');
            const colorList=["aqua","blue","fuchsia","gray","green","lime","maroon","navy",
                              "purple","red","teal","yellow","DarkCyan","DarkSalmon",
                              "DarkTurquoise","DeepPink","ForestGreen","Gold","GreenYellow",
                              "LightBlue","LightGreen","LightSeaGreen","LimeGreen",
                              "MediumAquaMarine","MediumBlue","MediumSpringGreen"];
            var ChartDemo = new Chart(ctx, {
               type: 'line',
               data: {
                  labels: [1,2,3,4,5,6,7,8,9,10,11,12],
                  datasets: [
                  {
                     label: persons[0][0].Name,
                     borderColor: colorList[0],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[0][1].badge,persons[0][2].badge,persons[0][3].badge,
                      persons[0][4].badge,persons[0][5].badge,persons[0][6].badge,
                      persons[0][7].badge,persons[0][8].badge,persons[0][9].badge,
                      persons[0][10].badge,persons[0][11].badge,persons[0][12].badge
                            ],
                  },{
                     label: persons[1][0].Name,
                     borderColor: colorList[1],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[1][1].badge,persons[1][2].badge,persons[1][3].badge,
                      persons[1][4].badge,persons[1][5].badge,persons[1][6].badge,
                      persons[1][7].badge,persons[1][8].badge,persons[1][9].badge,
                      persons[1][10].badge,persons[1][11].badge,persons[1][12].badge
                            ],
                  },{
                     label: persons[2][0].Name,
                     borderColor: colorList[2],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[2][1].badge,persons[2][2].badge,persons[2][3].badge,
                      persons[2][4].badge,persons[2][5].badge,persons[2][6].badge,
                      persons[2][7].badge,persons[2][8].badge,persons[2][9].badge,
                      persons[2][10].badge,persons[2][11].badge,persons[2][12].badge
                            ],
                  },{
                     label: persons[3][0].Name,
                     borderColor: colorList[3],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[3][1].badge,persons[3][2].badge,persons[3][3].badge,
                      persons[3][4].badge,persons[3][5].badge,persons[3][6].badge,
                      persons[3][7].badge,persons[3][8].badge,persons[3][9].badge,
                      persons[3][10].badge,persons[3][11].badge,persons[3][12].badge
                            ],
                  },{
                     label: persons[4][0].Name,
                     borderColor: colorList[4],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[4][1].badge,persons[4][2].badge,persons[4][3].badge,
                      persons[4][4].badge,persons[4][5].badge,persons[4][6].badge,
                      persons[4][7].badge,persons[4][8].badge,persons[4][9].badge,
                      persons[4][10].badge,persons[4][11].badge,persons[4][12].badge
                            ],
                  },{
                     label: persons[5][0].Name,
                     borderColor: colorList[5],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[5][1].badge,persons[5][2].badge,persons[5][3].badge,
                      persons[5][4].badge,persons[5][5].badge,persons[5][6].badge,
                      persons[5][7].badge,persons[5][8].badge,persons[5][9].badge,
                      persons[5][10].badge,persons[5][11].badge,persons[5][12].badge
                            ],
                  },{
                     label: persons[6][0].Name,
                     borderColor: colorList[6],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[6][1].badge,persons[6][2].badge,persons[6][3].badge,
                      persons[6][4].badge,persons[6][5].badge,persons[6][6].badge,
                      persons[6][7].badge,persons[6][8].badge,persons[6][9].badge,
                      persons[6][10].badge,persons[6][11].badge,persons[6][12].badge
                            ],
                  },{
                     label: persons[7][0].Name,
                     borderColor: colorList[7],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[7][1].badge,persons[7][2].badge,persons[7][3].badge,
                      persons[7][4].badge,persons[7][5].badge,persons[7][6].badge,
                      persons[7][7].badge,persons[7][8].badge,persons[7][9].badge,
                      persons[7][10].badge,persons[7][11].badge,persons[7][12].badge
                            ],
                  },{
                     label: persons[8][0].Name,
                     borderColor: colorList[8],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[8][1].badge,persons[8][2].badge,persons[8][3].badge,
                      persons[8][4].badge,persons[8][5].badge,persons[8][6].badge,
                      persons[8][7].badge,persons[8][8].badge,persons[8][9].badge,
                      persons[8][10].badge,persons[8][11].badge,persons[8][12].badge
                            ],
                  },{
                     label: persons[9][0].Name,
                     borderColor: colorList[9],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[9][1].badge,persons[9][2].badge,persons[9][3].badge,
                      persons[9][4].badge,persons[9][5].badge,persons[9][6].badge,
                      persons[9][7].badge,persons[9][8].badge,persons[9][9].badge,
                      persons[9][10].badge,persons[9][11].badge,persons[9][12].badge
                            ],
                  },{
                     label: persons[10][0].Name,
                     borderColor: colorList[10],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[10][1].badge,persons[10][2].badge,persons[10][3].badge,
                      persons[10][4].badge,persons[10][5].badge,persons[10][6].badge,
                      persons[10][7].badge,persons[10][8].badge,persons[10][9].badge,
                      persons[10][10].badge,persons[10][11].badge,persons[10][12].badge
                            ],
                  },{
                     label: persons[11][0].Name,
                     borderColor: colorList[11],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[11][1].badge,persons[11][2].badge,persons[11][3].badge,
                      persons[11][4].badge,persons[11][5].badge,persons[11][6].badge,
                      persons[11][7].badge,persons[11][8].badge,persons[11][9].badge,
                      persons[11][10].badge,persons[11][11].badge,persons[11][12].badge
                            ],
                  },{
                     label: persons[12][0].Name,
                     borderColor: colorList[12],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[12][1].badge,persons[12][2].badge,persons[12][3].badge,
                      persons[12][4].badge,persons[12][5].badge,persons[12][6].badge,
                      persons[12][7].badge,persons[12][8].badge,persons[12][9].badge,
                      persons[12][10].badge,persons[12][11].badge,persons[12][12].badge
                            ],
                  },{
                     label: persons[13][0].Name,
                     borderColor: colorList[13],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[13][1].badge,persons[13][2].badge,persons[13][3].badge,
                      persons[13][4].badge,persons[13][5].badge,persons[13][6].badge,
                      persons[13][7].badge,persons[13][8].badge,persons[13][9].badge,
                      persons[13][10].badge,persons[13][11].badge,persons[13][12].badge
                            ],
                  },{
                     label: persons[14][0].Name,
                     borderColor: colorList[14],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[14][1].badge,persons[14][2].badge,persons[14][3].badge,
                      persons[14][4].badge,persons[14][5].badge,persons[14][6].badge,
                      persons[14][7].badge,persons[14][8].badge,persons[14][9].badge,
                      persons[14][10].badge,persons[14][11].badge,persons[14][12].badge
                            ],
                  },{
                     label: persons[15][0].Name,
                     lineTension: 0, //<===追加
                     borderColor: colorList[15],
                     fill: false,    //<===追加
                     data: [
                      persons[15][1].badge,persons[15][2].badge,persons[15][3].badge,
                      persons[15][4].badge,persons[15][5].badge,persons[15][6].badge,
                      persons[15][7].badge,persons[15][8].badge,persons[15][9].badge,
                      persons[15][10].badge,persons[15][11].badge,persons[15][12].badge
                            ],
                  },{
                     label: persons[16][0].Name,
                     borderColor: colorList[16],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[16][1].badge,persons[16][2].badge,persons[16][3].badge,
                      persons[16][4].badge,persons[16][5].badge,persons[16][6].badge,
                      persons[16][7].badge,persons[16][8].badge,persons[16][9].badge,
                      persons[16][10].badge,persons[16][11].badge,persons[16][12].badge
                            ],
                  },{
                     label: persons[17][0].Name,
                     borderColor: colorList[17],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[17][1].badge,persons[17][2].badge,persons[17][3].badge,
                      persons[17][4].badge,persons[17][5].badge,persons[17][6].badge,
                      persons[17][7].badge,persons[17][8].badge,persons[17][9].badge,
                      persons[17][10].badge,persons[17][11].badge,persons[17][12].badge
                            ],
                  },{
                     label: persons[18][0].Name,
                     borderColor: colorList[18],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[18][1].badge,persons[18][2].badge,persons[18][3].badge,
                      persons[18][4].badge,persons[18][5].badge,persons[18][6].badge,
                      persons[18][7].badge,persons[18][8].badge,persons[18][9].badge,
                      persons[18][10].badge,persons[18][11].badge,persons[18][12].badge
                            ],
                  },{
                     label: persons[19][0].Name,
                     borderColor: colorList[19],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[19][1].badge,persons[19][2].badge,persons[19][3].badge,
                      persons[19][4].badge,persons[19][5].badge,persons[19][6].badge,
                      persons[19][7].badge,persons[19][8].badge,persons[19][9].badge,
                      persons[19][10].badge,persons[19][11].badge,persons[19][12].badge
                            ],
                  },{
                     label: persons[20][0].Name,
                     borderColor: colorList[20],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[20][1].badge,persons[20][2].badge,persons[20][3].badge,
                      persons[20][4].badge,persons[20][5].badge,persons[20][6].badge,
                      persons[20][7].badge,persons[20][8].badge,persons[20][9].badge,
                      persons[20][10].badge,persons[20][11].badge,persons[20][12].badge
                            ],
                  },{
                     label: persons[21][0].Name,
                     borderColor: colorList[21],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[21][1].badge,persons[21][2].badge,persons[21][3].badge,
                      persons[21][4].badge,persons[21][5].badge,persons[21][6].badge,
                      persons[21][7].badge,persons[21][8].badge,persons[21][9].badge,
                      persons[21][10].badge,persons[21][11].badge,persons[21][12].badge
                            ],
                  },{
                     label: persons[22][0].Name,
                     borderColor: colorList[22],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[22][1].badge,persons[22][2].badge,persons[22][3].badge,
                      persons[22][4].badge,persons[22][5].badge,persons[22][6].badge,
                      persons[22][7].badge,persons[22][8].badge,persons[22][9].badge,
                      persons[22][10].badge,persons[22][11].badge,persons[22][12].badge
                            ],
                  },{
                     label: persons[23][0].Name,
                     borderColor: colorList[23],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[23][1].badge,persons[23][2].badge,persons[23][3].badge,
                      persons[23][4].badge,persons[23][5].badge,persons[23][6].badge,
                      persons[23][7].badge,persons[23][8].badge,persons[23][9].badge,
                      persons[23][10].badge,persons[23][11].badge,persons[23][12].badge
                            ],
                  },{
                     label: persons[24][0].Name,
                     borderColor: colorList[24],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[24][1].badge,persons[24][2].badge,persons[24][3].badge,
                      persons[24][4].badge,persons[24][5].badge,persons[24][6].badge,
                      persons[24][7].badge,persons[24][8].badge,persons[24][9].badge,
                      persons[24][10].badge,persons[24][11].badge,persons[24][12].badge
                            ],
                  },{
                     label: persons[25][0].Name,
                     borderColor: colorList[25],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[25][1].badge,persons[25][2].badge,persons[25][3].badge,
                      persons[25][4].badge,persons[25][5].badge,persons[25][6].badge,
                      persons[25][7].badge,persons[25][8].badge,persons[25][9].badge,
                      persons[25][10].badge,persons[25][11].badge,persons[25][12].badge
                            ],
                  },{
                     label: persons[26][0].Name,
                     borderColor: colorList[26],
                     lineTension: 0, //<===追加
                     fill: false,    //<===追加
                     data: [
                      persons[26][1].badge,persons[26][2].badge,persons[26][3].badge,
                      persons[26][4].badge,persons[26][5].badge,persons[26][6].badge,
                      persons[26][7].badge,persons[26][8].badge,persons[26][9].badge,
                      persons[26][10].badge,persons[26][11].badge,persons[26][12].badge
                            ],
                  },
                  ],
               },
               options: {
                responsive: true,
                scales: {
                  yAxes: [{
                    type: 'linear',
                    ticks: {
                      beginAtZero: true,
                      max: 100
                    }
                  }]
                },
              }
             })
          </script>
      </div>
      <a href="/">home</a>
    {% endblock %}
  </body>
</html>