<!DOCTYPE html>
<html lang="ja">
  <head>
      <title>{{ month }}の送信</title>
  </head>
  <body>
  {% block content %}
      <div class="container">
        <span>{{ month }}の送信</span>
        <table>
          <tr>
            <th>送信者名</th><th>受信者名</th><th>贈ったバッジ</th><th>メッセージ</th>
          </tr>
        {% for monthly in result %}
          <tr>
            <td>{{monthly.送信者名}}</td><td>{{monthly.受信者名}}</td><td>{{monthly.贈ったバッジ}}</td><td>{{monthly.メッセージ}}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
    <a href="/">home</a>
    {% endblock %}
  </body>
</html>