<!DOCTYPE html>
<html lang="ja">
  <head>
      <title>{{ title }}</title>
  </head>
  <body>
  {% block content %}
  <!-- Form
  ================================================== -->
    <div class="form">
      <div class="container">
        <span>{{month}}月の送信数</span>
        <table>
          <tr>
            <th>Name</th><th>Badge</th>
          </tr>
        {% for person in result %}
          <tr>
            <td>{{person.name}}</td><td>{{person.count}}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
      <a href="/">home</a>
    </div>
    {% endblock %}
  </body>
</html>