<!DOCTYPE html>
<html lang="ja">
  <head>
      <title>{{ person }}さんの送信数</title>
  </head>
  <body>
  {% block content %}
  <!-- Form
  ================================================== -->
    <div class="form">
      <div class="container">
        <span>{{ person }}さんの送信数</span>
        <table>
          <tr>
            <th>Month</th><th>Badge</th>
          </tr>
        {% for personal in result %}
          <tr>
            <td>{{personal.month}}</td><td>{{personal.badge}}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
    <a href="/">home</a>
    {% endblock %}
  </body>
</html>